<div id="admin-bar" ng-controller="AdminBarController">
  <% if logged_in? %>
    <div id="logged-in-bar">
      <%= link_to '<div class="rr-logo"></div>'.html_safe, admin_path %>
    </div>
  <% end %>
  <%= link_to "<div class='intro hover-background-colored'>Hello, #{current_user.name}</div>".html_safe, edit_user_path(current_user) %>
  <ul class="no-style">
    <%= link_to '<li class="hover-background-colored"><span class="icon">&#8962;</span>Visit Site</li>'.html_safe, root_path %>
    <li ng-repeat="post_type in post_types" ng-click="viewPosts(post_type.id)" class='hover-background-colored'><span class='icon'>&#9998;</span>{{ post_type.plural_name | capitalize }}</li>
    <li ng-click="viewMedia()" class='hover-background-colored'><span class='icon'>&#128193;</span>Media</li>
    <li ng-click="viewSettings()" class='hover-background-colored'><span class='icon'>&#9881;</span>Settings</li>
    <%= link_to '<li class="hover-background-colored"><span class="icon">&#59201;</span>Logout</li>'.html_safe, logout_path %>
  </ul>
</div>
<div class="admin-container" ng-view>
</div>
