<div class="admin-container">
  <%= link_to "New Post Type", new_post_type_path %>
  <% @post_types.each do |post_type| %>
    <h4><%= post_type.name.capitalize %></h4>
    <%= link_to "New #{post_type.name.capitalize}", new_post_path + "?id=#{post_type.id.to_s}" %>
    <ul>
      <% @posts.where(type: post_type.id.to_s).each do |post| %>
        <li><%= link_to "#{post.title}", edit_post_path(post) %></li>
      <% end %>
    </ul>
  <% end %>
</div>
