@import 'variables';
@import 'mixins';

#admin-bar {
	background-color: $rr-black;
	color: #fff;
	position: fixed;
	height: 100%;
	width: 250px;
	top: 0;
	left: 0;
	#logged-in-bar {
		position: static;
		float: left;
	}
	.intro {
		height: 50px;
		width: 200px;
		display: inline-block;
		padding: 18px 0 0 10px;
	}
	ul {
		margin: 0;
		li {
			padding: 15px 0 0 60px;
			height: 50px;
			position: relative;
			cursor: pointer;
			.icon {
				font-size: 1.8em;
				position: absolute;
				top: 8px;
				left: 15px;
			}
		}
	}
	a {
		text-decoration: none;
		color: #fff;
	}
}

.admin-container {
	margin-left: 250px;
	padding: 0 1em;
	background-color: #fff;
	@media all and (max-width: $breakpoint-medium-max) {
		padding-top: 50px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
    margin-left: 0;
  }
}