@import 'variables';
@import 'mixins';

#admin-bar {
	background-color: $rr-black;
	color: #fff;
	position: fixed;
	height: 100%;
	width: 250px;
	top: 0;
	left: 0;
	#logged-in-bar {
		position: static;
		float: left;
	}
	.intro {
		height: 50px;
		width: 200px;
		display: inline-block;
		padding: 18px 0 0 10px;
	}
	ul {
		margin: 0;
		li {
			padding: 15px 0 0 60px;
			height: 50px;
			position: relative;
			cursor: pointer;
			.icon {
				font-size: 1.8em;
				position: absolute;
				top: 8px;
				left: 15px;
			}
		}
	}
	a {
		text-decoration: none;
		color: #fff;
	}
}

.admin-container {
	margin-left: 250px;
	padding: 0 1em;
	background-color: #fff;
	@media all and (max-width: $breakpoint-medium-max) {
		padding-top: 50px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
    margin-left: 0;
  }
}

.headline {
	font-family: Raleway, Helvetica, sans-serif;
	display: inline-block;
	margin-right: $margin-small;
}

.post-list {
	border: $border-standard;
	li {
		height: 50px;
		border-bottom: 2px solid $light-grey;
		padding: 1em 1em;
		cursor: pointer;
		position: relative;
		&:last-child {
			border-bottom: 0;
		}
		&:nth-child(2) {
			background-color: $lighter-grey;
		}
		button.delete {
			position: absolute;
			right: 0;
			top: 0;
			&:hover {
				background-color: $rr-red;
			}
		}
	}
}

.admin-form {
	input {
		border: $border-standard;
		font-size: 1.4em;
		width: 100%;
  	margin-top: 0.4em;
  	height: 2.5em;
  	padding: 0.2em;
	}
	textarea {
		resize: none;
		border: $border-standard;
		width: 100%;
		margin-top: 1.4em;
		height: 20em;
		padding: 0.2em;
	}
}