@import 'variables';
@import 'mixins';

#admin-bar {
	background-color: $rr-black;
	color: #fff;
	position: fixed;
	height: 100%;
	width: 250px;
	top: 0;
	left: 0;
	#logged-in-bar {
		position: static;
		float: left;
	}
	.intro {
		height: 50px;
		width: 200px;
		display: inline-block;
		padding: 18px 0 0 10px;
	}
	ul {
		margin: 0;
		li {
			padding: 15px 0 0 60px;
			height: 50px;
			position: relative;
			cursor: pointer;
			.icon {
				font-size: 1.8em;
				position: absolute;
				top: 8px;
				left: 15px;
			}
		}
	}
	a {
		text-decoration: none;
		color: #fff;
	}
}

.admin-container {
	margin-left: 250px;
	padding: 0 1em;
	background-color: #fff;
	@media all and (max-width: $breakpoint-medium-max) {
		padding-top: 50px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
    margin-left: 0;
  }
}

.headline {
	font-family: Raleway, Helvetica, sans-serif;
	margin-right: $margin-small;
}

.admin-author {
	width: 100%;
	margin-top: 0.4em;
	padding: 0.2em;
}

.search {
	border: $border-standard;
	font-size: 1.4em;
	width: 100%;
	margin-top: 0.4em;
	height: 50px;
	padding: 0.2em;
}

.post-list {
	border: $border-standard;
	li {
		height: 50px;
		border-bottom: 2px solid $light-grey;
		cursor: pointer;
		&:last-child {
			border-bottom: 0;
		}
		&:nth-child(2) {
			background-color: $lighter-grey;
		}
		.post-info {
			padding: 1em 1em;
			width: 50%;
			float: left;
			height: 100%;
			overflow: hidden;
		}
		.post-author {
			padding: 1em 1em;
			width: 20%;
			height: 100%;
			overflow: hidden;
			float: left;
			text-align: center;
			border-left: 2px solid $light-grey;
		}
		.post-date {
			padding: 1em 1em;
			width: 10%;
			height: 100%;
			overflow: hidden;
			float: left;
			text-align: center;
			border-left: 2px solid $light-grey;
		}
		.type-info {
			padding: 1em 1em;
			width: 90%;
			float: left;
		}
		button {
			width: 10%;
			float: left;
		}
	}
}

button.delete {
	&:hover {
		background-color: $rr-red;
	}
}

button.submit {
	margin-top: $margin-small;
}

//removing arrows from select tag on IE legacy
::-ms-expand {
  display: none;
}

.admin-form {
	input {
		border: $border-standard;
		font-size: 1.4em;
		width: 100%;
  	margin-top: 0.4em;
  	height: 50px;
  	padding: 0.2em;
	}
	textarea {
		resize: none;
		border: $border-standard;
		width: 100%;
		margin-top: 0.4em;
		height: 20em;
		padding: 0.2em;
	}
	.included-field {
		color: #aaa;
		border: $border-standard;
		font-size: 1.4em;
		width: 100%;
  	margin-top: 0.4em;
  	height: 50px;
  	padding: 0.45em 0.25em;
	}
	.aspects-container, .name-container {
		height: 50px;
		margin-top: 0.4em;
		width: 100%;
		input {
			margin: 0;
			width: 70%;
			float: left;
			&.input-name {
				width: 85%;
			}
		}
		.remove-aspect {
			margin: 0;
			height: 50px;
			float: left;
			width: 15%;
			border: 0;
		}
		select {
			float: left;
			height: 50px;
			font-size: 1em;
			background-color: $rr-black;
			color: #fff;
			border: 0;
			width: 15%;
			padding-left: 0.3em;
			border-radius: 0;
			-webkit-border-radius: 0;  /* Safari 3-4, iOS 1-3.2, Android 1.6- */    
			-moz-border-radius: 0;  /* Firefox 1-3.6 */  
			-webkit-appearance: none;
     	-moz-appearance: none;
      appearance: none;   
      text-overflow: '';
  		text-indent: 0.01px;
  		background-image: url(select-arrow.png);
  		background-repeat: no-repeat;
  		background-position: 95% 50%;
  		background-size: 8px 17px;
		}
	}
}