@import 'variables';
@import 'mixins';

///////////////General Styles///////////////

* {
	box-sizing: border-box;
}

.container {
	max-width: $container-width;
	width: 100%;
	margin: 0 auto;
	padding: 0 1em;
}

///////////////Typography///////////////

@font-face {
    font-family: Entypo;
    src: url('entypo.eot');
    src: url('entypo.eot?#iefix') format('embedded-opentype'),
         url('entypo.woff') format('woff'),
         url('entypo.ttf') format('truetype'),
         url('entypo.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
	font-family: $font-family-icon;
}

///////////////Mobile///////////////

.mobile-menu-icon {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 3;
	cursor: pointer;
	display: none;
	@media all and (max-width: $breakpoint-medium-max) {
		display: block;
  }
  &:before {
		position: absolute;
		top: -20px;
		font-family: $font-family-icon;
		color: $rr-black;
		font-size: 5em;
		content: '\2630';
  }
	&:hover {
		&:before {
			@include transition(0.4s);
			color: $rr-brand;
		}
	}
}

///////////////Interactive///////////////

.hover-background-colored {
	&:hover {
		@include transition(0.4s);
		background-color: $rr-brand;
	}
}

.hover-text-colored {
	&:hover {
		@include transition(0.4s);
		color: $rr-brand;
	}
}

///////////////Alignment///////////////

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.center {
	margin: 0 auto;
}

.margin-small {
	margin: $margin-small;
}

.margin-medium {
	margin: $margin-medium;
}

.margin-large {
	margin: $margin-large;
}

.margin-top-small {
	margin-top: $margin-small;
}

.margin-top-medium {
	margin-top: $margin-medium;
}

.margin-top-large {
	margin-top: $margin-large;
}

///////////////Images///////////////

.logo {
	background-image: url($logo-path);
	background-size: 100px 100px;
	width: 100px;
	height: 100px;
}

///////////////Lists///////////////

ul.no-style {
	list-style: none;
	padding-left: 0;
}

///////////////Links///////////////

a.no-style {
	text-decoration: none;
	color: $font-color;
}