@import "variables";
@import "mixins";

.login-container {
  max-width: 320px;
  width: 100%;
  text-align: center;
  margin: 1em auto 0 auto;
  border: $border-standard;
  border-radius: $border-radius;
  padding: 1em;
  &.wide {
    max-width: 600px;
  }
  input {
    display: block;
    width: 100%;
    margin-top: 0.4em;
    height: 2.5em;
    width: 100%;
    padding: 0.4em;
    &[type=submit] {
      background: $rr-black;
      color: #fff;
      border: 0;
      &:hover {
        @include transition(0.4s);
        background: $rr-brand;
      }
    }
  }
}