///////////////Grid///////////////
$container-width: 900px;

///////////////Colors///////////////
$rr-black: #222;
$rr-brand: #345ee8;

///////////////Typography///////////////

$font-color: $rr-black;
$font-family-serif: Georgia, 'Times New Roman', serif;
$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-family-icon: Entypo;
