///////////////Grid///////////////
$container-width: 900px;

///////////////Alignment///////////////
$margin-small: 1em;
$margin-medium: 2em;
$margin-large: 4em;

///////////////Colors///////////////
$rr-black: #222;
$rr-brand: #345ee8;

///////////////Typography///////////////

$font-color: $rr-black;
$font-family-serif: Georgia, 'Times New Roman', serif;
$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-family-icon: Entypo;

///////////////Borders///////////////
$border-standard: 2px solid $rr-black;
$border-radius: 5px;

///////////////Images///////////////
$logo-path: 'logo-square.png';
