<h3>New Post Type</h3>
<form accept-charset="UTF-8" action="/post_types" class="new_post_type" id="new_post_type" method="post">
  <input ng-model="type.name" type="text" placeholder="Post Type Name">
  <div>Title is included automatically</div>
  <div id="post-type-template">
    <div ng-repeat="aspect in type.aspects" class="aspects-container">
      <input ng-model="aspect.name" type="text" placeholder="Field Title">
      <select ng-model="aspect.type">
        <option value="text">Text</option>
        <option value="textarea">Longform</option>
        <option value="number">Number</option>
        <option value="date">Date</option>
        <option value="datetime">Date & Time</option>
      </select>
    </div>
  </div>
  <button ng-click="addAspect($event)" class="add-aspect">Add Field</button>
  <button ng-click="create($event)">Create Post Type</button>
</form>
