<h2 class="headline">New User</h2>
<form accept-charset="UTF-8" action="/users" class="new-user admin-form" method="post">
	<div class="name-container">
		<input class="input-name" ng-model="user.name" type="text" placeholder="Name">
		<select ng-model="user.rights">
	    <option selected disabled value="default">User Rights</option>
	    <option value="admin">Admin</option>
	    <option value="editor">Editor</option>
	  </select>
	</div>
	<input class="input-email" ng-model="user.email" type="text" placeholder="Email">
	<input class="input-password" ng-model="user.password" type="password" placeholder="Password">
  <button class="submit" ng-click="create($event)">Create User</button>
</form>