<h2 class="headline inline-block">Update Post</h2>
<form accept-charset="UTF-8" action="/posts" class="update-post admin-form" method="patch">
	<input type="hidden" value="{{ post_type.id }}">
	<input class="input-title" ng-model="post.title" type="text" placeholder="Title">
	<div class="input-container" ng-repeat="(name, type) in post_type.aspects">
		<div ng-form-input ng-if="name !== 'title'" ng-name="{{ name }}" ng-type="{{ type }}"></div>
	</div>
  <button class="submit" ng-click="update($event)">Save</button>
  <button class="submit" ng-click="switch($event)">{{ post.published | published }}</button>
  <button class="delete" ng-click="delete($event)">Delete</button>
</form>