<form accept-charset="UTF-8" action="/posts" class="update-post admin-form" method="patch">
	<input type="hidden" name="post[type]" value="{{ post_type.id }}">
	<input class="input-title" ng-model="post.title" type="text" placeholder="Title" name="post[title]">
	<div class="input-container" ng-repeat="(name, type) in post_type.aspects">
		<div ng-form-input ng-if="name !== 'title'" ng-name="{{ name }}" ng-type="{{ type }}"></div>
	</div>
  <button ng-click="update($event)">Update {{ post_type.name | capitalize }}</button>
  <button ng-click="delete($event)">Delete {{ post_type.name | capitalize }}</button>
</form>