<h2 class="headline inline-block">{{ post_type.plural_name | capitalize }}</h2><button ng-click="viewNew(post_type_id)">New</button>
<input type="text" class="search" placeholder="Search {{ post_type.plural_name | capitalize }}" ng-model="search">
<ul class="no-style post-list" ng-if="posts.length !== 0">
	<li ng-repeat="post in posts | filter:search">
		<div class="post-info" ng-click="viewPost(post.id)">
			{{ post.title }}
		</div>
		<div class="post-author" ng-click="viewUser(post.author.id)">
			{{ post.author.name }}
		</div>
		<div class="post-date">
			{{ post.created_at | date:'shortDate' }}
		</div>
		<button class="switch" ng-click="switch($event, post)">{{ post.published | published }}</button>
		<button class="delete" ng-click="delete($event, post)">Delete</button>
	</li>
</ul>
