<header>
	<nav>
		<ul>
			<li><%= link_to 'Home', root_url %></li>
		</ul>
	</nav>

	<% if logged_in? %>
	<div class="welcome">Hello, <%= current_user.name %>!</div>
	<a href="/admin"><div>Admin</div></a>
	<a href="/users/<%= current_user.id.to_s %>/edit"><div>Edit User Info</div></a>
	<a href="/logout"><div class="session logout">Logout</div></a>
	<% else %>
	<a href="/login"><div class="session login">Login</div></a>
	<% end %>
</header>